
header {
  padding-top: 150px;
}

.container__top {
  padding-top: 150px;
}

.container {
  padding: 50px 20px;
  background-color: #FEFEFE;
  background-image: url('../subtle_grunge.png');
}

.container__section {
  padding: 150px 20px;
}

